

body {
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif !important;
  background: #213547 !important;
}


h4{
  align-items: center;
  text-align: center;
  margin-bottom:60px !important;

}

.options-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
  gap: 15px;
  max-width: 400px;
  height: 110px;
  margin: 0 auto;
  color: white;

}
.option-btn img {
  vertical-align: middle;
}

.option-btn {
  padding: 20px;
  border-radius: 10px;
  min-width: 150px;
  border: none !important;
  color: white !important;
  background: rgba(255, 255, 255, 0.1) !important;
  transition: background-color 0.5s, color 0.3s !important;

}
.option{
  padding: 20px;
margin-top: -20px;
  color: white !important;
  background: rgba(255, 255, 255, 0.1) !important;
  transition: background-color 0.5s, color 0.3s !important;

}
.option:hover{
  background:  #c58d2c !important;
  color: white !important;
  transform: scale(1.1) !important;
  transition: transform 0.3s ease !important;
}


.option-btn:hover {
  background:  #c58d2c !important;

  
}
.option-btn.correct{
  background:  #2bcb5e !important;
  transform: scale(1.1);

}
.option-btn.incorrect{
  background:  #ed0000 !important;

}

.fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.loading-spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* CSS pour les points qui rebondissent */
.loading-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Fixe l'élément à l'écran */
  top: 50%; /* Positionne à 50% du haut de l'écran */
  left: 50%; /* Positionne à 50% de la largeur de l'écran */
  transform: translate(-50%, -50%); /* Centrer parfaitement l'élément */
  z-index: 9999; /* Assure-toi que l'élément est devant tous les autres */
}

.loading-dots div {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: #c58d2c;
  border-radius: 50%;
  animation: bounce 1.5s infinite ease-in-out;
}

.loading-dots div:nth-child(1) {
  animation-delay: 0s;
}

.loading-dots div:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}





